body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.menu-container,
.order-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .menu-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

@media (min-width: 1024px) {
  .menu-item {
    flex-basis: 48%;
  }
}

@media (min-width: 1440px) {
  .menu-item {
    flex-basis: 30%;
  }
}
